* {
    outline: none;
}
a {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #003575;
}
.container {
    max-width: 1000px!important;
    width: 100%;
}

header .logo img {
    width: 160px;
}
#bs-example-navbar-collapse-1 {
    float: none;
    background: #001045;
    z-index: 300;
    position: relative;
    top: 0;
    height: 100%;
    padding: 10px 30px;
}
.navbar-toggle {
    padding: 15px 15px;
    border-color: #fff!important;
}
.navbar-default {
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header {
    width: 100%;
    height: 100px;
    background: #001045;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav {
    width: 100%;
    height: auto!important;
    float: none;
    text-align: center;
    display: block!important;
    margin: 10px 0 0 0;
    margin-top: 0!important;
}
.navbar-nav>li>a {
    padding: 15px 10px!important;
}
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
header h1 {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    background: #003575;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.geral {
    background: #fff;
    margin: 0 2px 10px;
    padding-bottom: 30px;
}
.geral select {
    background: #f7f7f7;
    width: 100%;
    height: 40px;
    border-radius: 0;
    font-style: italic;
    border: 1px solid #dfdfdf;
    border-bottom: 2px solid #000;
}
.borda {
    border-bottom: 2px solid #000;
}
.btn-destaque {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 50px;
    width: 100%;
    display: table;
    margin: 10px 0;
    border: none;
}
.btn-destaque img {
    width: 36px;
    margin-right: 10px;
}
.btn-verde {
    background: #13c600;
    border-bottom: 2px solid #0b7700;
}
.btn-azul {
    background: #003575;
    border-bottom: 2px solid #002046;
}
.btn-azul img {
    width: 30px;
    margin-right: 10px;
}

.switch-input {
    display: none;
}
.switch-label {
    font-size: 14px;
    color: #868385;
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 40px 0 30px;
    padding: 16px 0 16px 44px;
}
.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}
.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
    display: none;
}
.switch-label .toggle--off {
    display: inline-block;
}
.switch-input:checked + .switch-label:before {
    background-color: #0b7700;
}
.switch-input:checked + .switch-label:after {
    background-color: #4cd964;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
    display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
    display: none;
}

.img-destaque {
    width: 100%;
}
.index h2,
.index p {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 0;
}
.index p {
    color: #868385;
    font-weight: 300;
}

.atencao {
    width: 100%;
    height: 50px;
    background: #ffe400;
    border-radius: 50px;
    padding: 7px 10px;
    margin: 5px 0 10px;
}
.atencao img {
    width: 35px;
    float: left;
    margin-right: 10px;
}
.atencao h2 {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.atencao p {
    font-size: 12px;
    color: #000000;
    margin: 0;
}

section.geral.localizacao {
    padding-top: 30px;
}
.localizacao li {
    border-bottom: 1px solid #d7d8d7;
    padding: 0 10px 20px;
    margin-bottom: 20px;
}
.localizacao ul>li .local {
    text-align: center;
    float: left;
    margin-right: 10px;
}
.localizacao ul>li h2,
.localizacao ul>li h4,
.localizacao ul>li p {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.localizacao ul>li p {
    font-weight: 300;
    color: #005ec6;
}
.localizacao .fa {
    font-size: 38px;
    color: #000;
}

.informativo {
    border-bottom: 2px solid #000;
    padding: 0 10px;
    margin-bottom: 20px;
}
.informativo h2,
.informativo p {
    font-size: 14px;
    font-weight: 600;
    color: #003575;
    /* margin: 0; */
}
.informativo p {
    font-weight: 400;
    color: #868385;
}

.selecionar-ponto .btn-azul,
.finalizar .btn-azul {
    font-size: 12px;
}
.selecionar-ponto .btn-azul span,
.finalizar .btn-azul span {
    font-weight: 300;
}
.selecionar-ponto ul>li span {
    width: 25px;
    height: 25px;
    display: inline-flex;
    background: red;
    border-radius: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.pontos ul {
    padding: 30px 0;
    margin-bottom: 100px;
}
.pontos ul>li {
    border-bottom: 1px solid #d7d8d7;
    padding: 15px 10px;
}
.pontos ul>li>a {
    font-size: 30px;
    font-weight: 600;
    color: #003575;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pontos ul>li>a img {
    width: 15px;
}
.img-atendimento {
    margin-bottom: 20px;
}

.comunicado h4 {
    font-size: 16px;
    font-weight: 600;
    color: #003575;
}
.comunicado .box {
    background: #f7f7f7;
    width: 100%;
    padding: 15px;
    border: 1px solid #dfdfdf;
    border-bottom: 2px solid #000;
    margin: 20px 0;
}

.finalizar .box img {
    opacity: .5;
}

.login form {
    padding-top: 20px;
}
.login input {
    margin-bottom: 10px;
}
.login .switch-label {
    margin: 0;
}

.aprovacao {
    width: 100%;
    height: 50px;
    background: #00b78f;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 15px;
}
.aprovacao img {
    width: 35px;
    margin-right: 10px;
}
.aprovacao p {
    font-size: 12px;
    color: #fff;
    margin: 0;
}
.aprovacao p span {
    font-weight: 600;
}
.check {
    width: 30px;
    position: absolute;
    left: 17px;
}

.extrato h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000967;
    text-align: center;
}
.extrato h4 img {
    width: 40px;
    margin-left: 20px;
}
.extrato .dados {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.extrato .dados img {
    width: 40px;
    margin-right: 20px;
}
.extrato .dados ul {
    width: 100%;
    margin: 15px 0;
}
.extrato .dados ul>li {
    font-size: 14px;
    font-weight: 600;
    color: #616161;
    display: flex;
    justify-content: space-between;
}
.extrato .dados span {
    font-weight: 300;
    width: 45%;
}
.extrato .dados .destaque {
    font-weight: 600;
}
.extrato .dados .negativa {
    font-weight: 600;
    color: #cf312d;
}
.extrato .ranking {
    background: #e8e8e8;
    padding: 15px 0;
}
.extrato .ranking h2 {
    font-size: 16px;
    font-weight: 300;
    color: #003575;
    text-align: center;
    margin-top: 0;
}
.extrato .ranking h2 span {
    font-weight: 600;
}
.extrato .ranking select {
    width: 90%;
    margin: 10px auto;
    display: block;
}
.extrato .ranking ul>li {
    font-size: 14px;
    font-weight: 600;
    color: #005ec6;
    text-align: left;
    border-bottom: 2px solid #000;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}
.extrato .ranking ul>li span {
    color: #616161;
    width: 35%;
    text-align: right;
}
.extrato .ranking ul>li:nth-child(even) {
    background: #fafafa;
}

#check {
    display: none;
}
.btn-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #13c600;
    border-bottom: 2px solid #0b7700;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 50px;
    width: 100%;
    margin: 20px 0 30px;
    transition: 1s;
}
.load {
    display: none;
    width: 20px;
    height: 20px;
    border: 5px solid #fff;
    border-radius: 100%;
    margin-left: 10px;
}
.open {
    border-top: 5px solid transparent;
    animation: load-animate infinite linear 1s;
}
#check:checked ~ .btn-label > .btn-text {
    display: none;
}
#check:checked ~ .btn-label > .load {
    display: inline-block;
}
@-moz-keyframes load-animate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.35;
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes load-animate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.35;
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes load-animate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.35;
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load-animate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.35;
    }
    100% {
        transform: rotate(360deg);
    }
}